@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

body{
    max-width: 1160px;
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    padding: 0px;
    margin: 0px auto;
    width: 80%;
    box-shadow: -100px 0 0 #f3f3f3, 100px 0 0 #f3f3f3; /* bordure grisé */
}

h1, h2, h3 {
    font-family: 'Lato';
}

/*header*/

h1{
    font-size: 3rem;
    padding: 0;
    margin: 0;
}
header section {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: auto;
    padding: 20px;
    background-color: #17abb3;
    color: #ffffff;
}

header a img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #ffffff;
    margin-left: 40px;
    cursor: zoom-in;
}

header div {
    text-align: center;
    flex: 1; /* 1 part sur 2 */
}

header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */
    gap: 10px 30px; 
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px auto 0;
    max-width: 300px;
    padding-left: 40px;
}

header li {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}
header a {
    text-decoration: none;
    color: #ffffff;
}

/*main*/

h3 {
    color: #17abb3;
}

main {
    display: flex;
    gap: 40px; /* espace entre les sections */
}

main section:first-of-type {
    flex: 1; /* 1 part sur 3 */
    background-color: #f3f3f3;
    padding: 20px;
}

main section:last-of-type {
    flex: 2; /* 2 parts sur 3 */
}

main section p span {
    float: right;
    padding-right: 10px;
    color: #17abb3;
}
.language {
    color: #333333;
}

/*footer*/

footer {
    text-align: center;
    padding: 20px;
    background-color: #17abb3;
    color: #ffffff; 
}

footer i {
    font-size: 1.5em;
    margin: 0 10px;
}

footer i:hover {
    opacity: 0.7; /* diminue légèrement l’opacité */
}

footer p {
    margin-top: 10px;
    font-style: italic;
}